body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #accd9c, #A8E063);
    color: #333;
  }
  
#RPS{
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the game content */
  }
  #choices button {
    padding: 15px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
    transition: background-color 0.3s;
  }
  
  #choices button:hover {
    background-color: #0056b3;
  }

  #reset {
    padding: 15px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
    transition: background-color 0.3s;
  }
  
  #reset:hover {
    background-color: #0056b3;
  }

  #result,#computer {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  h1{
    color: rgb(170, 64, 64)
  }